- name: Set Prompt
  ansible.builtin.shell: set-prompt grafana

- name: Copy repo file
  ansible.builtin.template:
    src: grafana.repo
    dest: /etc/yum.repos.d/grafana.repo

- name: Install Grafana
  ansible.builtin.dnf:
    name: grafana
    state: installed

- name: Start grafana server
  ansible.builtin.systemd_service:
    name: grafana-server
    state: started
    enabled: yes

- name: create prometheus datasource
  community.grafana.grafana_datasource:
    name: prometheus
    ds_type: prometheus
    ds_url: http://prometheus-internal.rdevopsb79.online:9090
    access: direct
    url: http://localhost:3000
    url_username: admin
    url_password: admin123





